<script id="player-template" type="text/x-handlebars-template">
	<div class="stone-block-white">
		<span class="stone white"></span>
	</div>
	<div class="stone-block-black">
		<span class="stone black"></span>
	</div>
	<div class="stone-type">
		<span>Jij speelt als : {{ color }}</span>
	</div>
	<div class="stone-type">
		<span>Aan zet: {{ player }}</span>
	</div>
</script>